* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  font-family: 'Edu TAS Beginner', cursive;
  color: brown;
}
.landing {
  min-height: 100vh;
  background-image: url('4k.jpg');
  background-size: cover;
  padding: 0rem 5rem;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
}

.nav-links {
  display: flex;
  list-style: none;
}
.nav-links li {
  padding-left: 5rem;
  font-size: 1.2rem;
  cursor: pointer;
}

#logo {
  font-family: 'Lobster', cursive;
  font-weight: lighter;
  font-size: 2rem;
}

.big-text {
  position: absolute;
  top: 30%;
  left: 50%;
  font-family: 'Lobster', cursive;
  font-size: 2rem;
}
