* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  font-family: 'Edu TAS Beginner', cursive;
}
.landing {
  min-height: 100vh;
  background-size: cover;
  background-image: linear-gradient(120deg, #7f8d90ea, #fffffe);
}
header {
  background-color: rgba(160, 178, 182, 0.95);
}
.nav {
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
  color: black;
}
.nav.sticky {
  position: fixed;
  background-color: rgba(160, 178, 182, 0.95);
  color: black;
}
.nav__links {
  color: black;
  display: flex;
  align-items: center;
  list-style: none;
}
.nav__links li {
  font-size: 2rem;
  cursor: pointer;
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
}
.nav__link {
  color: black;
}
.logo {
  margin-left: 3rem;
  font-family: 'Lobster', cursive;
  font-weight: lighter;
  font-size: 2rem;
}

.big-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  color: black;
}
.intro {
  background-image: url('4k.jpg');
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  background-image: url('cover.jpg');
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}
.intro-text {
  background-image: url('cover.jpg');
  font-family: 'Edu TAS Beginner', cursive;
  font-size: 2.5rem;
}
.text {
  color: rgb(181, 183, 185);
}
.hide {
  background-image: url('4k.jpg');
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

.section {
  padding: 1rem;
}
.section__description {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Edu TAS Beginner', cursive;
  font-size: xx-large;
}
.section__header {
  font-family: 'Lobster', cursive;
  font-weight: bold;
  font-size: x-large;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin: 0 12rem;
  margin-top: 3rem;
}
.about__img {
  width: 100%;
}
#section--3 {
  height: 20rem;
  background-color: rgba(160, 178, 182, 0.95);
}
.social__icons {
  font-size: 50px;
  color: black;
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-around;
  padding: 2rem 2rem;
}
.git__hub {
  color: black;
  transition: color 0.2s;
}
.git__hub:hover {
  color: rgb(63, 62, 62);
}
.linked__in {
  color: black;
  transition: color 0.2s;
}
.linked__in:hover {
  color: rgb(63, 62, 62);
}
