* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  font-family: 'Edu TAS Beginner', cursive;
}
.landing {
  min-height: 100vh;
  background-image: url('4k.jpg');
  background-size: cover;
  padding: 0rem 5rem;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
}

.nav-links {
  display: flex;
  list-style: none;
}
.nav-links li {
  padding-left: 5rem;
  font-size: 1.2rem;
  cursor: pointer;
}

#logo {
  font-family: 'Lobster', cursive;
  font-weight: lighter;
  font-size: 2rem;
}

.big-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-family: 'Lobster', cursive;
  font-size: 2rem;
}
.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  background-image: url('cover.jpg');
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}
.intro-text {
  color: rgb(84, 117, 146);
  font-family: 'Edu TAS Beginner', cursive;
  font-size: 2.5rem;
}
.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}
